.marquee-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 8s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .banner {
    width: 100%;
    max-width: 100vw;
    height: 74vh;
    overflow: hidden;
  }
  
  .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .category-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
  }
  
  .category-img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
  }  